In [1]:
import pandas as pd
db = pd.read_csv('data.csv')
db

,60,0,0.1,0.2,40,40.1,30,90,90.1,70,...,0.5,1,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8
0,100,90,40,40,60,80,70,70,10,40,...,1,1,1,1,1,1,1,1,1,1
1,10,20,90,60,60,100,20,90,10,60,...,0,0,0,0,0,0,0,0,0,0
2,10,50,40,90,90,40,0,70,60,60,...,1,1,1,0,0,1,1,1,0,1
3,0,0,100,60,20,30,30,30,30,0,...,1,0,0,0,0,0,0,0,0,0
4,90,60,80,60,70,20,70,80,20,50,...,1,0,1,0,0,0,1,1,1,1
5,80,70,40,0,30,30,70,60,70,80,...,1,1,1,1,0,1,1,1,1,0
6,0,50,50,10,40,100,100,0,80,10,...,1,0,1,0,0,0,0,1,0,1
7,90,30,20,80,70,20,70,0,20,60,...,0,1,1,1,1,1,0,0,0,0
8,50,50,80,20,30,30,20,0,70,70,...,1,0,1,0,0,1,1,0,0,0

In [2]:
import math
scores = [[] for i in range(10)]
for d in db:
    scores[0].append(math.floor(float(d)))
for i in range(1, 10):
    row = db.iloc[i-1]
    for j in range(len(row)):
        scores[i].append(db.iloc[i-1][j])

In [3]:
def getScore(l):
    return l[0] * 0.1 + l[1] * 0.1 + l[2] * 0.1 + l[3] * 0.1 + l[4] * 0.2 + l[5] * 0.2 + l[6] * 0.2

In [4]:
sol = [[0 for i in range(4)] for j in range(10)]
for i in range(10):
    sol[i][0] = getScore(scores[i][:7])
    sol[i][1] = getScore(scores[i][7:14])
    sol[i][2] = getScore(scores[i][14:21])
    sol[i][3] = (sol[i][0] + sol[i][0] + sol[i][0] + sum(scores[21:31]) * 10) * 0.3
    if sol[i][3] > 100: sol[i][3] = 100
    sol[i][0] = round(sol[i][0])
    sol[i][1] = round(sol[i][1])
    sol[i][2] = round(sol[i][2])
    sol[i][3] = round(sol[i][3])
sol

[[28, 59, 36, 25],
 [69, 55, 66, 62],
 [54, 69, 55, 49],
 [45, 52, 37, 40],
 [32, 15, 61, 29],
 [61, 45, 38, 55],
 [45, 75, 63, 40],
 [59, 29, 62, 53],
 [54, 39, 49, 49],
 [36, 62, 36, 32]]

In [5]:
df = pd.DataFrame(sol)
df.to_csv("out.csv", encoding='utf-8', index=False, header=False)